name: Health Check Cron

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  health-check:
    runs-on: ubuntu-latest
    steps:
      - name: Hit Health Endpoint
        run: |
          echo "Sending request to health endpoint..."
          curl -v https://unisocial-user-service.onrender.com/health
